.page-footer{
 
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }
  

}

.footer-container {
  display: block;

  @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;

  }
  
} 

.footer-address-container {
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    width: 231px;
  }
}

.conact-lists {
  @extend %list;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
    
  }
}
.contact-list-list:not(:last-child) {
  margin-bottom: 9px;
} 



.footer-icon-container {
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    margin-left: 70px;
    flex-direction: column;
  }
  
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
  text-align: center;
  
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
  
}
.footer-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  ;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
  
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }


}

.footer-link-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-bg-color);

}





 