.page-footer{
    min-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    
  
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  } 

  .footer-icon-container {
    display: inline-block;
    align-items: baseline;
    margin-left: 70px;
   
    
  }
  .footer-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color);
    margin-bottom: 20px;
    
  }
  .footer-list {
    display: flex;
    
  }

  .footer-list-item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }


  }

  .footer-link-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--main-bg-color);

  }

  
  

  
  