.team {
    min-width: 1200px;
    background-color: #F5F4FA;
    display: block;
    padding-bottom: 94px;
    /* padding-top: 94px; */
  }
  
  .team__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #F5F4FA;
  }

  .team__list {
    display:flex;
    gap: 30px;
    flex-wrap:wrap;
  
   }
   
  
  .team__item {
   flex-basis: calc((100% - 30px * 3) / 4);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   
  } 

  .team__wrapper {
    width: 270px;
    display:block;
    background-color: #FFFFFF;
    padding: 30px 0;
    
  
  }

  .team__img {
    margin: 0;
  
  }
    
  
  .wrapper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
  }