.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg-color);
    max-width: 696px;
    margin: 0 auto 30px;
    
  }

  .feature-title {
  
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    
       
  }

  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
  
  }

  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  
  color: var(--main-color);
  }

  .wrapper__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color);
  }

  .client__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    
  }

  .title-text {
    font-style: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  vertical-align: top;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
  padding: 0 24px 20;
  margin-bottom: 4px;
  flex-basis: 370px;
  } 

  .form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 30px;
  }